.nav {
  width: auto;
  min-height: 8vh;
  min-width: 10vh;
  background-color: #81ccb7;
}
.text-color {
  color: #306887;
}
.nav-blanc {
  height: 40vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: auto;
  min-width: 10vh;
}

.text-bg {
  background-color: #81ccb7;
  min-width: 30vh;
  min-height: 6vh;
}
.image-edit {
  background-size: cover;
  height: 13vh;
  width: 13vh;
  padding: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


