.bouton{
    background-color: #81CCB7;
    color: #306887;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    border-radius: 5px;
}
.cacher{
    display: none;
}
.underline{
    text-decoration: none;
    border-bottom: 2px solid #81CCB7;;
    padding-bottom: 2px;
    transform: scale(1.1,1.1);
} 
.backgroundColor{
    background-color: rgb(48, 104, 135);
}
.boubakhbi{
    color:rgb(48, 104, 135) ;
}
.bg-list{
    background-color: white;
}
.box {
    margin-left: 10%;
    height: 600px;
    
}
.forMediaGap{
    display: none;
}
.attribut{
    display: none;
}
.nomClasse{
    display: flex;
}
@media screen and (max-width:1000px){

    .box{
  
        width: 100%;
        box-shadow: none;
        margin: 0;
        border: none;
        margin-left: 0%;
        height: 600px;
        overflow-X:scroll;
        margin-top: -100px;
      
    }
 
    .tbw{
        width: 100px;
        margin: auto;
    }
    .forSearch{
        padding: 10px 0px;
    }
    
}
@media screen and (max-width:624px){
    .desk{
        display: none;
      }
      .forMediaGap{
        display: flex;
     
      }
      .attribut{
        display: block;
    }
    .nomClasse{
        display: none;
    }
    .underline{
        text-decoration: none;
        border-bottom: none;
  
    
    } 
}
