/* MODE NUIT Dashboard */
:root{
    --color-back:white;
}
[data-theme="true"]{
    --color-back:#303030;
}
body{
    background-color: var(--color-back); 
}
.bg-color-moon {
     background-color: var(--color-back);  
} 
.nav-blanc-moon {
    background-color: #306887;
    height: 40vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: auto;
}
.text-bg-moon {
    background-color:#3a3a3a;
    min-width: 30vh;
    min-height: 6vh;
}
.text-color-moon {
    color: white;
}
.nav-moon {
    width: auto;
    min-height: 8vh;
    min-width: 10vh;
    background-color: #3a3a3a; 
   
}


/*MODE NUIT  VIGIL*/
.information-moon {
    min-height: 60vh;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    min-width: 10%;
    border-radius: 7px;
    background-color: #020101;
    color: white;
}
.text-moon p{
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
}

.left-moon {
    background-color: rgb(104 108 108);
 /*    background-color: "#81ccb7"; */
}
/* Les tableaux */

.bg-list-moon{
    background-color: #303030;
}
/* MODAL MODIFIER MOT DE PASSE */
.modal-back-moon{
    background-color: #3a3a3a;
    color: white;
    
}