.information {
  min-height: 60vh;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  min-width: 10%;
  border-radius: 7px;
}
.container-costumer{
    width: 50%;
}

 .text p{
    color: #306887;
    font-size: 1.5rem;
    margin-top: 10px;
} 
img{
    margin: auto;
}
.cacher{
    display: none;
}
.none{
    text-align: center;
    font-size: 1.5rem;
}

.left {
    background-color: #81ccb7; 
}
.c{
    width: 50%;
}
@media screen and (max-width:1300px){
    .c{
        width: 100%;
    }
}
@media screen and (max-width:763px){
.c{
    width: 100%;
    
}
.forDevice{
 
    display: flex;
    flex-direction: column;
}
}