.header{
    background-color: #306887
}
.menu{
    background-color: #306887;
    display: none;
}
.icone:hover .menu{
    display: block;
}
.space-x-3:hover{
    color: #81CCB7;
}
.cacher{
    display: none;
}