  .contenue{
    margin-top: 15%;
    width: 80%;
  } 
  .text-color {
    color: #306887;
  }

  @media screen and (max-width: 768px) {
    .contenue{
        margin-top: -7rem;
    }
    .colonne{
      margin: 1rem;
    }
  }
  